<!-- base.html -->
<!DOCTYPE html>
<html>
<head>
    <title>YouTube Video Summarizer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <style>
        
       {% comment %} .navbar {
            background-color: #c0cad4;
            color: #fff;
        } {% endcomment %}

        .bg-primary {
            background-color: #c0cad4!important;
        }
        
            
        
    </style>
</head>
<body>
    
        {% block content %}
        {% endblock %}
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
